html, button, input, optgroup, select, textarea {
    font-family: Arial, sans-serif;
  }  
html, body {
  background-color: var(--body-background);
  font-size: 14px;
  margin: 0;
  min-height: 380px;
  padding: 0;
  color: var(--body-text);
}
.container {
  border: 1px solid #000000;
  border-radius: 25px;
  padding: 20px 25px 20px;
  background-color: var(--container-background);
}
#mani-ver-num {
margin: 0;
padding: 0 0 2px 4px;
font-size:10px;
color: #ddd;
}